body {
    font-family: cursive;
}

h1 {
    text-align: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: lightgray;
    border: 3px solid black;
    border-radius: 5px;
    padding: 25px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover{
    color: lime;
}

a:visited{
    color: gray;
}