main {
  border: 10px solid #4285f4;
  text-align: center;
  width: 200px;
  font-family: calibri;
  margin-bottom:10px;
}

p{
  color: white;
  font-weight: bold;
  font-size: 24px;
  padding: 20px;
  margin: 0px;
}

.n{
  background-color: #E67676;
}

.s{
  background-color: #A9E6E6;
}
