header {
  background: purple;
  height: 50px;
  display: flex;
  align-items: center;
}

a {
  display: block;
  width: 100px;
  height: 30px;
  background: cyan;
  margin: 10px;
}

content{
  height: 500px;
  display: flex;
}

.yellow{
  flex-grow: 3;
  background: yellow;
}

.green{
  flex-grow: 1;
  background: lime;
}